*.class
*bin
*.meta*
GraphView

Wristband/gen/com/idthk/wristband/ui/R.java
R.java
Wristband/gen/com/facebook/android/R.java

Wristband/gen/com/idthk/wristband/api/R.java

Wristband/gen/com/jjoe64/graphview/R.java

Wristband/gen/com/jjoe64/graphview/R.java

*ListSample*