<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.idthk.wristband.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
         <uses-library
            android:name="com.samsung.android.sdk.bt"
            android:required="true" />
        <activity
            android:name=".Main"
            android:screenOrientation="user"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/settings"
            android:theme="@style/DarkTheme"
             >
        </activity>
        <activity
            android:name=".UserPreferencesActivity"
            android:label="@string/pref_user_profile"
            android:theme="@style/DarkTheme"
             >
        </activity>
        <activity
            android:name="com.idthk.wristband.ui.landscape.SleepLandscapeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name="com.idthk.wristband.ui.landscape.ActivityLandscapeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            </activity>
        <activity
            android:name="com.idthk.wristband.ui.landscape.StatisticLandscapeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name="com.idthk.wristband.ui.landscape.LandscapeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name="com.idthk.wristband.socialnetwork.FacebookShareActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/facebook_activity_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity
            android:name="com.idthk.wristband.socialnetwork.TwitterShareActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/twitter_activity_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        
        <service android:enabled="true" android:name="com.idthk.wristband.api.WristbandBLEService"/>
    </application>
    

</manifest>